In [1]:
import numpy as np
import pandas as pd
import os

In [3]:
pwd = os.getcwd()

In [5]:
military_data = pd.read_csv(pwd + '/military_expenditure.csv')
military_data

,country,iso3c,iso2c,year,Military expenditure (current USD),Military expenditure (% of general government expenditure),Military expenditure (% of GDP),adminregion,incomeLevel
0,Afghanistan,AFG,AF,1970,2.939586e+06,NaN,1.629606,South Asia,Low income
1,Afghanistan,AFG,AF,1971,NaN,NaN,NaN,South Asia,Low income
2,Afghanistan,AFG,AF,1972,NaN,NaN,NaN,South Asia,Low income
3,Afghanistan,AFG,AF,1973,3.341272e+06,NaN,1.868910,South Asia,Low income
4,Afghanistan,AFG,AF,1974,3.581366e+06,NaN,1.610825,South Asia,Low income
...,...,...,...,...,...,...,...,...,...
13561,Zimbabwe,ZWE,ZW,2016,3.580650e+08,7.363048,1.742494,Sub-Saharan Africa (excluding high income),Lower middle income
13562,Zimbabwe,ZWE,ZW,2017,3.405220e+08,5.519890,1.544948,Sub-Saharan Africa (excluding high income),Lower middle income
13563,Zimbabwe,ZWE,ZW,2018,4.203640e+08,5.607096,1.222795,Sub-Saharan Africa (excluding high income),Lower middle income
13564,Zimbabwe,ZWE,ZW,2019,5.469390e+08,2.099816,0.698601,Sub-Saharan Africa (excluding high income),Lower middle income
13565,Zimbabwe,ZWE,ZW,2020,NaN,NaN,NaN,Sub-Saharan Africa (excluding high income),Lower middle income

In [6]:
military_data.columns

Index(['country', 'iso3c', 'iso2c', 'year',
       'Military expenditure (current USD)',
       'Military expenditure (% of general government expenditure)',
       'Military expenditure (% of GDP)', 'adminregion', 'incomeLevel'],
      dtype='object')

In [7]:
updated_data = military_data.drop(columns=['iso3c','iso2c'])
updated_data

,country,year,Military expenditure (current USD),Military expenditure (% of general government expenditure),Military expenditure (% of GDP),adminregion,incomeLevel
0,Afghanistan,1970,2.939586e+06,NaN,1.629606,South Asia,Low income
1,Afghanistan,1971,NaN,NaN,NaN,South Asia,Low income
2,Afghanistan,1972,NaN,NaN,NaN,South Asia,Low income
3,Afghanistan,1973,3.341272e+06,NaN,1.868910,South Asia,Low income
4,Afghanistan,1974,3.581366e+06,NaN,1.610825,South Asia,Low income
...,...,...,...,...,...,...,...
13561,Zimbabwe,2016,3.580650e+08,7.363048,1.742494,Sub-Saharan Africa (excluding high income),Lower middle income
13562,Zimbabwe,2017,3.405220e+08,5.519890,1.544948,Sub-Saharan Africa (excluding high income),Lower middle income
13563,Zimbabwe,2018,4.203640e+08,5.607096,1.222795,Sub-Saharan Africa (excluding high income),Lower middle income
13564,Zimbabwe,2019,5.469390e+08,2.099816,0.698601,Sub-Saharan Africa (excluding high income),Lower middle income
13565,Zimbabwe,2020,NaN,NaN,NaN,Sub-Saharan Africa (excluding high income),Lower middle income

## Begin by gathering summary statistical data for countries (avg expenditures etc...)

In [19]:
recent_afghani_data = updated_data[(updated_data['country'] == 'Afghanistan') & (updated_data['year'] >= 2004)]
recent_afghani_data.describe()

,year,Military expenditure (current USD),Military expenditure (% of general government expenditure),Military expenditure (% of GDP)
count,17.000000,1.700000e+01,17.000000,17.000000
mean,2012.000000,2.187892e+08,7.505306,1.589269
std,5.049752,5.819388e+07,3.975176,0.570226
min,2004.000000,1.227272e+08,3.652592,0.945227
25%,2008.000000,1.914071e+08,4.275736,1.076950
50%,2012.000000,2.195802e+08,5.109793,1.369684
75%,2016.000000,2.518695e+08,10.360382,1.992066
max,2020.000000,3.258070e+08,16.134336,2.566267

In [20]:
updated_data

,country,year,Military expenditure (current USD),Military expenditure (% of general government expenditure),Military expenditure (% of GDP),adminregion,incomeLevel
0,Afghanistan,1970,2.939586e+06,NaN,1.629606,South Asia,Low income
1,Afghanistan,1971,NaN,NaN,NaN,South Asia,Low income
2,Afghanistan,1972,NaN,NaN,NaN,South Asia,Low income
3,Afghanistan,1973,3.341272e+06,NaN,1.868910,South Asia,Low income
4,Afghanistan,1974,3.581366e+06,NaN,1.610825,South Asia,Low income
...,...,...,...,...,...,...,...
13561,Zimbabwe,2016,3.580650e+08,7.363048,1.742494,Sub-Saharan Africa (excluding high income),Lower middle income
13562,Zimbabwe,2017,3.405220e+08,5.519890,1.544948,Sub-Saharan Africa (excluding high income),Lower middle income
13563,Zimbabwe,2018,4.203640e+08,5.607096,1.222795,Sub-Saharan Africa (excluding high income),Lower middle income
13564,Zimbabwe,2019,5.469390e+08,2.099816,0.698601,Sub-Saharan Africa (excluding high income),Lower middle income
13565,Zimbabwe,2020,NaN,NaN,NaN,Sub-Saharan Africa (excluding high income),Lower middle income

In [21]:
updated_data[updated_data['incomeLevel'] == 'Low income']

,country,year,Military expenditure (current USD),Military expenditure (% of general government expenditure),Military expenditure (% of GDP),adminregion,incomeLevel
0,Afghanistan,1970,2.939586e+06,NaN,1.629606,South Asia,Low income
1,Afghanistan,1971,NaN,NaN,NaN,South Asia,Low income
2,Afghanistan,1972,NaN,NaN,NaN,South Asia,Low income
3,Afghanistan,1973,3.341272e+06,NaN,1.868910,South Asia,Low income
4,Afghanistan,1974,3.581366e+06,NaN,1.610825,South Asia,Low income
...,...,...,...,...,...,...,...
13459,"Yemen, Rep.",2016,NaN,NaN,NaN,Middle East & North Africa (excluding high inc...,Low income
13460,"Yemen, Rep.",2017,NaN,NaN,NaN,Middle East & North Africa (excluding high inc...,Low income
13461,"Yemen, Rep.",2018,NaN,NaN,NaN,Middle East & North Africa (excluding high inc...,Low income
13462,"Yemen, Rep.",2019,NaN,NaN,NaN,Middle East & North Africa (excluding high inc...,Low income
13463,"Yemen, Rep.",2020,NaN,NaN,NaN,Middle East & North Africa (excluding high inc...,Low income

## Individual country spending in 2020

In [22]:
updated_data[updated_data['year'] == 2020]

,country,year,Military expenditure (current USD),Military expenditure (% of general government expenditure),Military expenditure (% of GDP),adminregion,incomeLevel
50,Afghanistan,2020,2.795770e+08,4.489663,1.369684,South Asia,Low income
101,Africa Eastern and Southern,2020,1.057666e+10,4.293656,1.151457,NaN,Aggregates
152,Africa Western and Central,2020,7.038811e+09,5.631908,1.008386,NaN,Aggregates
203,Albania,2020,2.220227e+08,4.668107,1.535465,Europe & Central Asia (excluding high income),Upper middle income
254,Algeria,2020,9.708277e+09,16.989554,6.659994,Middle East & North Africa (excluding high inc...,Lower middle income
...,...,...,...,...,...,...,...
13361,West Bank and Gaza,2020,NaN,NaN,NaN,Middle East & North Africa (excluding high inc...,Lower middle income
13412,World,2020,1.928852e+12,5.461455,2.362473,NaN,Aggregates
13463,"Yemen, Rep.",2020,NaN,NaN,NaN,Middle East & North Africa (excluding high inc...,Low income
13514,Zambia,2020,2.121424e+08,4.780546,1.154225,Sub-Saharan Africa (excluding high income),Lower middle income
13565,Zimbabwe,2020,NaN,NaN,NaN,Sub-Saharan Africa (excluding high income),Lower middle income

# Movie Stuff and Info

In [23]:
netflix_info = pd.read_csv(pwd + '/netflix_titles.csv')
netflix_info

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"JoÃ£o Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"DemiÃ¡n Bichir, HÃ©ctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [33]:
netflix_info[(netflix_info['country'] == 'United States') & (netflix_info['cast'].str.split(','))]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
7,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,R,119 min,Dramas,After one of his high school students attacks ...
10,s11,Movie,1922,Zak Hilditch,"Thomas Jane, Molly Parker, Dylan Schmid, Kaitl...",United States,"October 20, 2017",2017,TV-MA,103 min,"Dramas, Thrillers",A farmer pens a confession admitting to his wi...
14,s15,Movie,3022,John Suits,"Omar Epps, Kate Walsh, Miranda Cosgrove, Angus...",United States,"March 19, 2020",2019,R,91 min,"Independent Movies, Sci-Fi & Fantasy, Thrillers",Stranded when the Earth is suddenly destroyed ...
...,...,...,...,...,...,...,...,...,...,...,...,...
7758,s7759,Movie,Zack and Miri Make a Porno,Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, J...",United States,"October 1, 2018",2008,R,101 min,"Comedies, Independent Movies, Romantic Movies",Zack and Miri make and star in an adult film t...
7771,s7772,Movie,Zion,Floyd Russ,Zion Clark,United States,"August 10, 2018",2018,TV-PG,12 min,"Documentaries, Sports Movies",Born without legs and stuck in foster care for...
7774,s7775,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
7778,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."